# Ignore build and log directories
build/
log/
install/

# Ignore venv
venv

# Ignore Python bytecodes
__pycache__/
*.pyc

# Ignore temp files
*.tmp
*.temp

# Ignore files related to your dev environment
.vscode/

# generated map database by rtabmap
*.db

# Configs
/config/*.yaml
!/config/
!/config/readme.md
!/config/READONLY_example_config.yaml
!/config/default_config.yaml
!/config/dev_config.yaml